body{
	margin:0;
	padding:0;
}

.container {
	display: flex;
	height:60%;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	background: dodgerblue;
}
.item{
	height:200px;
}
.item img{
	width:100px;
	height:150px;
	margin:5px;
	padding:5px;
	border:2px dotted white;
}